@keyframes changeColor{
    0%{
        background-color: black;
        color: white;
    }
    100%{
        background-color: white;
        color: black;
    }
}

body{
    margin: 0px;
    border: none;
}

div.parent{
    display: flex;
    background-color: #87857e;
    width:100vw;
    flex-direction: column;
}

div.form{
    padding-top:55px;
    padding-left: 15px;
}

div.cards{
    background-color: #87857e;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    width: auto;
    text-align: center;
    border-radius: 5px;
    margin-top: 75px;
    padding-top: 20px;
    padding-left: 15px;
    
}

.default_card{
    display: inline;
    margin-left:100px;
    
}

Form.main_search{
    margin-top: 25px;
    margin-left:30px;
    
}

FormControl.mr-sm-2{
    background-color: black;
}

div.Text{
    padding-top: 40vh;
    font-family: 'Staatliches', cursive;
    font-size: xx-large;
    font-weight: 700;
}

.submit:hover{
    animation-name: changeColor;
    animation-duration: 0.75s;
}
div.button{
    padding:40vh; 
 }

